
/* layout */
:root {
  --primary: #9228f5;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Search form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

/*style for home page */
.home {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0px;
  padding-top: 250px;
  padding-left: 300px;
}

.search-container {
  background:#00FF87;
  width: 500px;
  height: 320px;
  border-radius: 30px;
  margin: auto;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 50px;
  position:relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.search-container h3 {
  color: #37003C;
}

.search-container label {
  color: #37003C;
}

