@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #9228f5;
  --primary-dark: #5f17a1;
  --primary-darker: #421070;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.error{
  max-width: 270px;
  margin: 0 auto;
  padding: 16px;
  background:#fff4f7;
  border-radius: 2px;
  position: relative;
}
