
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/*Styling for ResultsPage */ 

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height as needed */
  }
  
  .result-box {
    border: 5px solid #ccc;
    border-radius: 15px ;
    padding: 20px;
    max-width: 600px; /* Adjust the width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  