
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/*Styling for ResultsPage */ 

  .banner {
    background-color: #00FF87;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #6e3b8c;
    border-radius: 5px;
  }
  
  .team-id {
    margin: 20px 0;
    font-size: 18px;
  }
  
  .result-container {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    font-size: 20px;
    font-weight: 600; 
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  
  .green {
    color: green;
  }
  
  .red {
    color: red;
  }

  .overall-container {
    border: 1px solid #dee2e6;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
}